.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000;
  height: 96px;
  width: 100%;
}

.logoImage {
  width: 80px;
  height: 24px;
}

.navList {
  display: flex;
}

.navItem {
  font-weight: 14px;
  font-size: 400;
  list-style: none;
}

.navLink {
  color: #fff;
  text-decoration: none;
  padding: 0 34px;
}

.navLink:hover,
.navLink:hover .icon {
  color: #ffe81f;
}

.active {
  color: #ffe81f;
  text-decoration: none;
  padding: 0 34px;
}

.icon {
  margin-right: 8px;
  color: #fff;
}

.active .icon {
  color: #ffe81f;
}