.pageContainer {
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: #f6f6f6;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  height: auto;
}

.pageTitle {
  margin-bottom: 68px;
  font-size: 28px;
  font-weight: 600;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.characterLink {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

.characterLink:hover {
  color: #9f910f;
  text-decoration: none;
}

@media ((min-width: 768px)) {
  .pageContainer {
    width: 727px;
  }
}

@media ((min-width: 1024px)) {
  .pageContainer {
    width: 920px;
  }
}

@media (min-width: 1280px) {
  .pageContainer {
    width: 1280px;
  }
}
